.error {
  color: red;
}

.url {
  font-size: small;
  overflow-wrap: break-word;
}

.feedTitle {
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}

.list {
  text-align: left;
}

.feedName {
  font-weight: bold;
}

.showHideFeed {
  float: right;
}

.showHideFeed span {
  font-size: small;
  padding-right: 5px;
}

.showHideFeed div {
  margin-right: 0px;
}

.deleteButton {
  float: right;
}
